// VARIABLES

$ff: Georgia;

$step--2: clamp(0.78rem, calc(0.73rem + 0.23vw), 0.91rem);
$step--1: clamp(0.94rem, calc(0.84rem + 0.49vw), 1.22rem);
$step-0: clamp(1.13rem, calc(0.95rem + 0.87vw), 1.63rem);
$step-1: clamp(1.35rem, calc(1.07rem + 1.42vw), 2.17rem);
$step-2: clamp(1.62rem, calc(1.18rem + 2.20vw), 2.89rem);
$step-3: clamp(1.94rem, calc(1.28rem + 3.31vw), 3.85rem);
$step-4: clamp(2.33rem, calc(1.36rem + 4.87vw), 5.13rem);
$step-5: clamp(2.80rem, calc(1.39rem + 7.03vw), 6.84rem);

/* Fluid space */
$space-3xs: clamp(0.31rem, calc(0.27rem + 0.22vw), 0.44rem);
$space-2xs: clamp(0.56rem, calc(0.48rem + 0.43vw), 0.81rem);
$space-xs: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
$space-s: clamp(1.13rem, calc(0.95rem + 0.87vw), 1.63rem);
$space-m: clamp(1.69rem, calc(1.43rem + 1.30vw), 2.44rem);
$space-l: clamp(2.25rem, calc(1.90rem + 1.74vw), 3.25rem);
$space-xl: clamp(3.38rem, calc(2.85rem + 2.61vw), 4.88rem);
$space-2xl: clamp(4.50rem, calc(3.80rem + 3.48vw), 6.50rem);
$space-3xl: clamp(6.75rem, calc(5.71rem + 5.22vw), 9.75rem);
$space-4xl: clamp(9.00rem, calc(7.61rem + 6.96vw), 13.00rem);
$space-5xl: clamp(11.25rem, calc(9.51rem + 8.70vw), 16.25rem);
$space-6xl: clamp(15.75rem, calc(13.32rem + 12.17vw), 22.75rem);

$text-color-primary: black;
$text-color-secondary: white;
$background-color-primary: white;
$background-color-secondary: black;
$accent-primary: #ff8e3c;
$accent-secondary: hsl(25, 80%, 69%);


@import 'reset';
@import 'typography';